@import '../fonts/font';
@import 'mixins';

* {
  outline: none;
}

body {
  font-size: 16px;
  line-height: 1.38;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: $font--rimary;
}

a {
  color: $color--dark;
}

.p-p-relative {
  position: relative;
}

.p-component {
  font-family: $font--rimary;
}

.p-inputtext {
  padding: 10px 20px;

  border: none;
  background-color: $color--light;
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);

  font-size: 16px;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: -.3rem;
}

.p-float-label {
  position: relative;

  display: inline-block;

  &::before {
    content: '';

    right: 0;
    bottom: 100%;
    position: absolute;

    width: 23px;
    height: 14px;

    background-color: $color--primary;
    clip-path: polygon(15% 0, 0% 100%, 100% 100%);
  }

  label {
    right: 30px;
    transition-duration: 0.2s;
  }

  input,
  textarea {
    width: 100%;
  }

}

.p-button {
  padding: 14px 20px;
  
  border: 1px solid $color--default;
  background-color: $color--default;

  font-size: 16px;
  font-weight: bold;
  
  @include smartColor($color--default);

  transition: color .3s, background-color .3s, border-color .3s;

  &:hover {
    border-color: darken($color--default, 5%);
    background-color: darken($color--default, 5%);

    @include smartColor(darken($color--default, 5%))
  }

  &:active {
    border-color: darken($color--default, 5%);
    background-color: darken($color--default, 5%);

    @include smartColor(darken($color--default, 5%))
  }

  &:focus {
    border-color: $color--default;
    background-color: $color--default;
  }

  @each $name, $color in $COLORS {
    &-#{$name} {
      border-color: $color;
      background-color: $color;

      @include smartColor($color);

      &:hover {
        border-color: darken($color, 5%);
        background-color: darken($color, 5%);
  
        @include smartColor(darken($color, 5%))
      }

      &:active {
        &:hover {
          border-color: darken($color, 10%);
          background-color: darken($color, 10%);
    
          @include smartColor(darken($color, 10%))
        }
      }

      &:focus {
        border-color: $color;
        background-color: $color;

        @include smartColor(darken($color, 10%))
      }
    }
  }

}

.p-carousel {
  direction: ltr;

  .p-carousel-content {
    position: relative;
  }

  .p-carousel-indicators {
    left: 50%;
    bottom: 20px;
    position: absolute;
    transform: translateX(-50%);

    @include screen ('md') {
      bottom: 42px;
    }

  }

  .p-carousel-indicator {
    position: relative;

    width: 11px;
    height: 11px;

    margin: 0 3px;

    border-radius: 36px;
    border: 2px solid $color--secondary;
    
    @include screen ('sm') {
      width: 36px;
      height: 36px;
      
      border: 5px solid white;
    }
    
    @include screen ('md') {
      margin: 0 10px;
    }

    &::before {
      content: '';

      top: -5px;
      left: -5px;
      z-index: 1;
      position: absolute;

      display: none;

      width: 36px;
      height: 36px;
      
      border-radius: 36px;
      border: 1px solid $color--secondary;

      transition: all .3s ease;

      @include screen ('sm') {
        display: block;
      }

    }

    & > button {
      z-index: 2;
      position: relative;

      width: 100%;
      height: 100%;

      border-radius: 36px;
      
      transition: all .3s ease;

      @include screen ('sm') {
        border: 1px solid $color--secondary;
      }

    }

    &.p-highlight {
      border-width: 1px;
      background-color: white;

      @include screen ('sm') {
        border-width: 5px;
      }

      & > button {
        border-color: white;
        background-color: white;
      }

    }

  }

}

.p-sidebar {
  height: 100%;
  max-width: 290px;

  .p-sidebar-content {
    height: 100%;

    background-color: white;
  }

}

.p-sidebar-mask {
  background-color: rgba($color--dark, .3) !important;

  &.p-sidebar-mask-leave {
    z-index: -1 !important;
    
    opacity: 0 !important;
  }
  
}